body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F0E8;
  flex-direction: column;
  height: 95vh;
  font-family: 'Press Start 2P', cursive;
}

.score {
  margin-bottom: 20px;
}

.grid {
  width: 400px;
  height: 400x;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  background-color: #1A202C;
}

.grid div {
  width: 40px;
  height: 40px;
}

.snake {
  background-color: green;
}

.apple {
  background-image: url('https://cdn-icons-png.flaticon.com/512/415/415733.png');
  background-size: contain;
  background-position: center;
}

button {
  margin-top: 20px;
  background-color: #92CC41;
  border: 5px solid black;
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

button:hover {
  background-color: #75C442;
}
